.container {
  box-sizing: border-box;
  max-width: 1400px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  padding: 1rem 2rem;
  background: linear-gradient(#be0003, #8a0002);
  border-radius: 4px;
  box-shadow: 0 10px 16px rgba(139, 0, 3, 0.27);
  /* text-transform: uppercase; */
  color: var(--cor-1);
  font: 600 1.125rem/1.35 "Inter", sans-serif;
  max-width: max-content;
  transition: 0.3s;
}
.botao-transparente {
  padding: 1rem 2rem;
  color: var(--cor-1);
  font: 600 1.125rem/1.35 "Inter", sans-serif;
  transition: 0.3s;
}
.botao:hover {
  background: linear-gradient(hsl(359, 100%, 37%), hsl(359, 100%, 30%));
  transition: 0.3s;
  box-shadow: 0 5px 16px rgba(139, 0, 3, 0.27);
}
.bg-linear:hover {
  background: linear-gradient(hsl(359, 100%, 37%), hsl(359, 100%, 30%));
  transition: 0.3s;
  box-shadow: 0 5px 16px rgba(139, 0, 3, 0.27);
}
.botao-transparente:hover {
  transition: 0.3s;
}
.botao.seta {
  display: flex;
  align-items: center;
}
.botao-transparente.seta-vertical {
  display: flex;
  align-items: center;
}
.botao.seta::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url("../../img/icons/seta.svg") no-repeat;
  transition: transform 0.2s;
}
.botao-transparente.seta-vertical::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 24px;
  margin-left: 12px;
  background: url("../../img/icons/seta-vertical.svg") no-repeat;
  transition: transform 0.2s;
}
.botao.seta:hover::after {
  transform: translateX(4px);
}
.botao-transparente.seta-vertical:hover::after {
  transform: translateY(4px);
}
.underlined {
  transition: 0;
  position: relative;
}
.underlined:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--cor-p4);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.underlined:hover:after {
  width: 100%;
}

.mouse-icon {
  position: absolute;
  top: 85%;
  right: 50%;
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
  .botao-transparente {
    padding: 12px 16px;
    font-size: 1rem;
  }
}
