.como-funciona-bg {
  background-color: #f7f7f7;
}
.como-funciona {
  padding: 200px 0;
  position: relative;
}

.como-funciona-introducao > span {
  display: block;
  margin-bottom: 1rem;
}
.como-funciona-introducao h2 {
  margin-bottom: 0.5rem;
}

.como-funciona-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 120px 0;
  gap: 2rem;
  align-items: center;
  justify-items: center;
}

.como-funciona-grid li {
  display: grid;
  gap: 1rem;
  padding: 48px;
  background-color: var(--cor-1);
  box-shadow: 0 7px 18px rgba(0, 0, 0, 0.14);
  border: 3px solid var(--cor-0);
  border-radius: 1rem;
  align-content: start;
  position: relative;
  max-width: 210px;
  height: 340px;
}

.como-funciona-arrows {
  position: absolute;
  z-index: 2;
}
.como-funciona-arrows.down {
  left: 28%;
  z-index: 2;
  top: 75%;
}
.como-funciona-arrows.up {
  right: 30%;
  z-index: 2;
  top: 30%;
}

.como-funciona-detail {
  position: absolute;
  right: 0;
}

.registro {
  display: block;
  padding: 16px 12px;
  margin-top: 2rem;
  border-radius: 20px;
}
@media (max-width: 1200px) {
  .como-funciona {
    margin-top: 120px;
  }
  .como-funciona-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .como-funciona-arrows.down,
  .como-funciona-arrows.up,
  .mouse-icon {
    display: none;
  }
}
@media (max-width: 800px) {
  .como-funciona {
    margin-top: 80px;
    padding-bottom: 1rem;
  }
  .como-funciona-grid {
    grid-template-columns: 1fr;
    margin: 60px 0;
  }
  .como-funciona-detail {
    display: none;
  }
  .como-funciona-grid li {
    height: auto;
    padding: 32px;
  }
}
