.como-funciona-bg {
  background-color: #f7f7f7;
}
.como-funciona {
  padding: 60px 0;
  position: relative;
}
.como-funciona-introducao > span {
  display: block;
  margin-bottom: 1rem;
}
.como-funciona-introducao h2 {
  margin-bottom: 0.5rem;
}

.como-funciona-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 120px 0;
  gap: 2rem;
  align-items: center;
  justify-items: center;
}

.como-funciona-grid li {
  display: grid;
  gap: 1rem;
  padding: 48px;
  background-color: var(--cor-1);
  box-shadow: 0 7px 18px rgba(0, 0, 0, 0.14);
  border: 3px solid var(--cor-0);
  border-radius: 1rem;
  align-content: start;
  position: relative;
  max-width: 210px;
  height: 340px;
}

.como-funciona-arrows {
  position: absolute;
  z-index: 2;
}
.como-funciona-arrows.down {
  left: 28%;
  z-index: 2;
  top: 87%;
}
.como-funciona-arrows.up {
  right: 30%;
  z-index: 2;
  top: 40%;
}

.como-funciona-detail {
  position: absolute;
  right: 0;
}

.registro {
  display: block;
  padding: 16px 12px;
  margin-top: 2rem;
  border-radius: 20px;
}

.como-funciona-numeros {
  display: flex;
  place-items: center;
  place-content: center;
  gap: 9rem;
  background-color: var(--cor-p4);
  padding: 48px;
  border-radius: 9px;
  margin-bottom: 60px;
}

.como-funciona-numeros li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 1200px) {
  .como-funciona {
    margin-top: 120px;
  }
  .como-funciona-detail {
    display: none;
  }
  .como-funciona-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .como-funciona-arrows.down,
  .como-funciona-arrows.up {
    display: none;
  }

  .como-funciona-numeros {
    flex-direction: column;
    max-width: 500px;
    margin: 60px auto;
  }
}

@media (max-width: 800px) {
  #como-funciona-ativo {
    display: none;
  }
  .como-funciona-numeros {
    display: none;
  }
  .como-funciona {
    margin-top: 40px;
    padding-bottom: 1rem;
  }
  .como-funciona-grid {
    grid-template-columns: 1fr;
    /* margin: 60px 0; */
  }

  .como-funciona-grid li {
    height: auto;
    padding: 32px;
  }
  .como-funciona-numeros {
    gap: 3rem;
  }
  .como-funciona {
    padding: 1rem 0;
  }
  .como-funciona-grid {
    margin: 30px 0;
  }
}
