.contato-bg {
  padding: 120px 0;
}
#contato {
  background: linear-gradient(var(--cor-11) 600px, var(--cor-1) 0px);
}
.titulo {
  margin-bottom: 2rem;
}
.contato {
  display: grid;
  grid-template-columns: 5fr 7fr;
}

.contato-dados,
.contato-formulario {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contato-dados {
  border-radius: 5px 0 0 5px;
  background: var(--cor-p5) url("../../img/dec/bottom-left.svg") no-repeat
    bottom 20px left 20px;
}

.contato-formulario {
  border-radius: 0 5px 5px 0;
  background: var(--cor-0) url("../../img/dec/bottom-right.svg") no-repeat
    bottom 20px right 20px;
}

.contato-dados h2 {
  margin-bottom: 60px;
}

.contato-endereco {
  margin-bottom: 32px;
  padding-left: 28px;
  background: url("../../img/icons/local.svg") no-repeat 0px 2px;
}

.contato-endereco p {
  margin-bottom: 8px;
}

.contato-meios a {
  display: block;
  max-width: max-content;
  margin-bottom: 8px;
  padding-left: 28px;
}

.contato-meios a:hover {
  color: var(--cor-0);
}

.contato-meios a:first-child {
  background: url("../../img/icons/email.svg") no-repeat 0px 2px;
}

.contato-meios a:first-child {
  margin-bottom: 48px;
}

.contato-meios a:nth-child(2) {
  background: url("../../img/icons/telefone.svg") no-repeat 0px 2px;
  margin-bottom: 60px;
}

.contato-redes {
  display: flex;
  gap: 32px;
  padding-left: 28px;
}
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form label {
  display: block;
  font: 400 1rem/1.5 "Inter", sans-serif;
  margin-bottom: 4px;
}

.form .col-2 {
  grid-column: span 2;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  font: 400 1rem/1.5 "Roboto", sans-serif;
  background: var(--cor-1);
  border: 1px solid var(--cor-2);
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
  outline: none;
  border-color: var(--cor-p1);
  background: var(--cor-0);
  box-shadow: 0 0 0 2px #fea;
}

@media (max-width: 800px) {
  .contato {
    grid-template-columns: 1fr;
  }
  .contato-dados,
  .contato-formulario {
    padding: 20px;
  }
  .contato-dados {
    border-radius: 5px 5px 0 0;
  }
  .contato-formulario {
    border-radius: 0 0 5px 5px;
  }
  .contato-dados h2,
  .contato-meios a:nth-child(3) {
    margin-bottom: 32px;
  }
  .contato-redes {
    margin-bottom: 12px;
  }
}

@media (max-width: 600px) {
  .form {
    grid-template-columns: 1fr;
  }
  .form .col-2 {
    grid-column: 1;
  }
  .titulo {
    margin-bottom: 1rem;
  }
  .contato-endereco {
    margin-bottom: 1rem;
  }
  .contato-meios a:first-child {
    margin-bottom: 1rem;
  }
}
